### TASKS

Complete the tasks shown in bold below. The expected output is shown in a cell below. Be careful not to run the cell above the expected output, as it will clear the expected output. Try your best to solve these in one line of pandas code (not every single question can be solved in one line, but many can be!) Refer to solutions notebook and video to view possible solutions. NOTE: Many tasks have multiple correct solution methods!

In [1]:
import numpy as np

import pandas as pd

In [3]:
data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

### TASK: How many rows are there?

In [6]:
data.shape[0]

119390

### TASK: Is there any missing data? If so, which column has the most missing data?

In [8]:
data.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

### TASK: Drop the "company" column from the dataset.

In [9]:
data.drop("company" , axis = 1)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

### TASK: What are the top 5 most common country codes in the dataset?

In [16]:
data["country"]

0         PRT
1         PRT
2         GBR
3         GBR
4         GBR
         ...
119385    BEL
119386    FRA
119387    DEU
119388    GBR
119389    DEU
Name: country, Length: 119390, dtype: object

In [25]:
data["country"].value_counts().head()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

### TASK: What is the name of the person who paid the highest ADR (average daily rate)? How much was their ADR?

In [31]:
data.nlargest(1 , "adr")[["adr" , "name"]]

          adr           name
48515  5400.0  Daniel Walter

### TASK: The adr is the average daily rate for a person's stay at the hotel. What is the mean adr across all the hotel stays in the dataset?

In [46]:
round(data["adr"].mean(),2)

101.83

### TASK: What is the average (mean) number of nights for a stay across the entire data set? Feel free to round this to 2 decimal points.

In [63]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.0,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.0,737.0
arrival_date_year,119390.0,2016.156554,0.707476,2015.00,2016.00,2016.000,2017.0,2017.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.0,53.0
arrival_date_day_of_month,119390.0,15.798241,8.780829,1.00,8.00,16.000,23.0,31.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.0,19.0
stays_in_week_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.0,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.0,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.000,0.0,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.0,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.0,21.0
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.0
company,6797.0,189.266735,131.655015,6.00,62.00,179.000,270.0,543.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.0

In [70]:
a = ( data["stays_in_weekend_nights"].sum()  + data["stays_in_week_nights"].sum()) 

b = data.shape[0]


avg_nights = a / b

round(avg_nights , 2)

3.43

### TASK: What is the average total cost for a stay in the dataset? Not average daily cost, but total stay cost. (You will need to calculate total cost your self by using ADR and week day and weeknight stays). Feel free to round this to 2 decimal points.

In [202]:
data["tota_nights"] = data["stays_in_weekend_nights"] + data["stays_in_week_nights"]

In [203]:
data["total_spend"] = data["adr"] * data["tota_nights"]

In [206]:
round(data["total_spend"].mean() , 2)

357.85

### TASK: What are the names and emails of people who made exactly 5 "Special Requests"?

In [81]:
data[(data["total_of_special_requests"]) == 5] ["email"]

7860               Amanda.H66@yahoo.com
11125         Sanders_Laura@hotmail.com
14596               Tommy_O@hotmail.com
14921            Miller.Gilbert@aol.com
14922            TTorres@protonmail.com
24630                Jennifer_W@aol.com
27288                Crystal.H@mail.com
27477          Burke_Brittney16@att.com
29906       Cabrera.Cynthia@xfinity.com
29949                 Sarah_F@gmail.com
32267            Michelle.Villa@aol.com
39027          Hebert.Nichole@gmail.com
39129          Lindsey.Mckenzie@att.com
39525          Edwards.Ashley@yahoo.com
70114      Torres.Christopher@gmail.com
78819              Mrs..DVM@xfinity.com
78820             MichaelaBrown@att.com
78822                 KMD15@xfinity.com
97072                  Jason.R@zoho.com
97099               THurley@xfinity.com
97261                Mrs._W@comcast.net
98410             Arroyo_Holly@mail.com
98674                Denise_C@gmail.com
99887               Michael.S42@aol.com
99888                     Dr._S@aol.com
101569           Kayla.Murphy@yahoo.com
102061      Taylor.Martinez@hotmail.com
109511         Charles_Wilson@yahoo.com
109590           Tyler.A@protonmail.com
110082           Matthew_Bailey@aol.com
110083          Charlotte_A@verizon.com
111909    Brennan_Darrell51@hotmail.com
111911           MelindaJensen@zoho.com
113915            Arnold.Terry@zoho.com
114770       Nguyen.Mary@protonmail.com
114909        Lindsay.Cuevas40@mail.com
116455     CynthiaHernandez@xfinity.com
116457               Angela_H@gmail.com
118817              Sue.L52@comcast.net
119161          Alyssa_Richards@aol.com
Name: email, dtype: object

### TASK: What percentage of hotel stays were classified as "repeat guests"? (Do not base this off the name of the person, but instead of the is_repeated_guest column)

In [100]:
 repeat = data[(data["is_repeated_guest"]) > 0].sum() ["is_repeated_guest"]

C:\Users\Sony\AppData\Local\Temp\ipykernel_16532\1254687064.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  repeat = data[(data["is_repeated_guest"]) > 0].sum() ["is_repeated_guest"]

In [105]:
n = data.shape[0]

In [108]:
round((repeat / n) * 100 , 2)

3.19

### TASK: What are the top 5 most common last name in the dataset? Bonus: Can you figure this out in one line of pandas code? (For simplicity treat the a title such as MD as a last name, for example Caroline Conley MD can be said to have the last name MD)

In [126]:
def fun_split(str):
    
    a = str.split()
    
    return a[1]

In [127]:
fun_split("Ernest Barnes")

'Barnes'

In [128]:
data["last_name"] = data["name"].apply(fun_split)

In [131]:
data["last_name"].value_counts().head()

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: last_name, dtype: int64

### TASK: What are the names of the people who had booked the most number children and babies for their stay? (Don't worry if they canceled, only consider number of people reported at the time of their reservation)

In [207]:
data["total_kids"] = data["babies"] + data["children"]

In [214]:
data.sort_values("total_kids" , ascending = False) [["total_kids" , "name"]].head(3)

       total_kids             name
328          10.0    Jamie Ramirez
46619        10.0  Nicholas Parker
78656         9.0    Marc Robinson

### TASK: What are the top 3 most common area code in the phone numbers? (Area code is first 3 digits)

In [178]:
data["phone-number"]

0         669-792-1661
1         858-637-6955
2         652-885-2745
3         364-656-8427
4         713-226-5883
              ...
119385    403-092-5582
119386    238-763-0612
119387    395-518-4100
119388    531-528-1017
119389    422-804-6403
Name: phone-number, Length: 119390, dtype: object

In [183]:
def fun_area_code(input):
    
    
    a = str(input)
    
    
    b = a.split("-")
    
   
    
    return b[0]

In [184]:
fun_area_code("422-804-6403")

'422'

In [186]:
data["area_code"] = data["phone-number"].apply(fun_area_code)

In [189]:
data["area_code"].value_counts().head(3)

799    168
185    167
541    166
Name: area_code, dtype: int64

### TASK: How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ? Bonus: Can you do this in one line of pandas code?

In [198]:
data[ ( data["arrival_date_day_of_month"] >= 1 )   &   ( data["arrival_date_day_of_month"] <= 15 )  ].count() ["arrival_date_day_of_month"]

58152

### HARD BONUS TASK: Create a table for counts for each day of the week that people arrived. (E.g. 5000 arrivals were on a Monday, 3000 were on a Tuesday, etc..)

In [219]:
def convert(day , month , year):
    
    return f"{day}-{month}-{year}"

In [220]:
data["new_date"] = np.vectorize(convert)(data["arrival_date_day_of_month"] ,
                                        data["arrival_date_month"] , 
                                        data["arrival_date_year"])

In [221]:
data["new_date"]

0            1-July-2015
1            1-July-2015
2            1-July-2015
3            1-July-2015
4            1-July-2015
               ...
119385    30-August-2017
119386    31-August-2017
119387    31-August-2017
119388    31-August-2017
119389    29-August-2017
Name: new_date, Length: 119390, dtype: object

In [222]:
data["new_date"] = pd.to_datetime(data["new_date"])

In [223]:
data["new_date"]

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: new_date, Length: 119390, dtype: datetime64[ns]

In [227]:
data["day"] = data["new_date"].dt.day_name()

In [228]:
data["day"]

0         Wednesday
1         Wednesday
2         Wednesday
3         Wednesday
4         Wednesday
            ...
119385    Wednesday
119386     Thursday
119387     Thursday
119388     Thursday
119389      Tuesday
Name: day, Length: 119390, dtype: object

In [229]:
data["day"].value_counts()

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: day, dtype: int64