In [1]:
import numpy as np

import pandas as pd

In [2]:
myindex = ["usa" , "canada" , "mexico"]

In [3]:
mydata = [1776, 1867, 1821]

In [4]:
myseries = pd.Series(mydata)

In [7]:
myseries #here it has taken default index as 0,1,2 but we can reset the index as below

0    1776
1    1867
2    1821
dtype: int64

In [8]:
myseries = pd.Series(mydata , index = myindex)

myseries

usa       1776
canada    1867
mexico    1821
dtype: int64

In [9]:
ages = {"Naresh" : 62 , "Sangita" : 58 , "Swapnil" : 30 , "Amrapali" : 30 , "Divvyansh" : 1}

In [10]:
pd.Series(ages)

Naresh       62
Sangita      58
Swapnil      30
Amrapali     30
Divvyansh     1
dtype: int64