In [1]:
import numpy as np

import pandas as pd

In [2]:
registrations = pd.DataFrame({ "reg_id" : [1,2,3,4]  , "name" : ["Andrew" , "Bobo" , "Claire" , "David"] } )

In [3]:
logins = pd.DataFrame(  {   "login_id" : [1,2,3,4] ,  "name" : ["Xavier" , "Andrew" , "Yolanda" , "Bobo"]  }  )

In [4]:
registrations

   reg_id    name
0       1  Andrew
1       2    Bobo
2       3  Claire
3       4   David

In [5]:
logins

   login_id     name
0         1   Xavier
1         2   Andrew
2         3  Yolanda
3         4     Bobo

In [8]:
pd.merge(registrations , logins , how = "inner" , on = "name")

   reg_id    name  login_id
0       1  Andrew         2
1       2    Bobo         4